*{
	scroll-behavior: auto;
}

body {
	padding: 0;
	margin: 0;
	

}
/* Header background */

header {
	height: 100vh;
	background-image: url('../img/ruines1.png');
	background-size: cover;	
}

#back {
	height: 100vh;
	background-color: #1B1464;
	opacity: 0.2;
	
}

/*
font-family: 'Turret Road', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Calligraffitti', cursive;
#FFFFFF = blanc
#1A1A1A = noir
#E42218 = rouge
#2c3e50 = bleu foncé
#B98595 = pink ruines
#3D3855 = purple ruines


*/

/* Nav menu with logo home */

#fondmenu {
	display: flex;
	width: 100%;
	height: 10vh;
	position: fixed;
	top: 0;
	background-color: #2c3e50;
	box-shadow: 0vh 0vh rgba(0, 0, 0, 0.2),
				0vh 0.3vh 0vh 0.2vh rgba(255, 255, 255, 0.5) inset,
				0vh -0.8vh 0vh 0.3vh rgba(0, 0, 0, 0.1) inset;

}

.menu {
	font-family: 'Orbitron', sans-serif;
	margin-right: auto;
	margin-left: auto;
	display: table;
	padding: 0;
	margin-top: 0;
}

.menu  li {
	font-size: 2vh;
	display: table-cell;
	width: 20vh;
	transition: 1s;

}
.menu li:hover {
	font-size: 2.2vh;
	width: 22vh;
	transition: 1s;


}
.menu a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;	
	line-height: 9.25vh;
	text-align: center;
	text-shadow: 0.5vh rgba(0, 0, 0, 0.2);
	transition: text-shadow, color 1s;	
}

.menu a:hover {
	color: #E42218;
	text-shadow: 0 0.5vh rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.1);
	border-bottom: 0.8vh solid rgba(255, 255, 255, 0.8);
	transition: text-shadow, color 1s;
}



 i#logo {

 	margin-left: 15vh;
 	width: 20vh;
 	text-align: center;
	font-size: 5vh;
	line-height: 9.25vh;
	color: #FFFFFF;
	text-shadow: 0.5vh rgba(0, 0, 0, 0.2);
	transition: text-shadow, color 1s;
		
	
}

i#logo:hover {
	font-size: 5.5vh;
	color: #E42218;
	background: rgba(255, 255, 255, 0.1);
	border-bottom: 0.8vh solid rgba(255, 255, 255, 0.8);
	text-shadow: 0 0.5vh rgba(255, 255, 255, 0.2);
	transition: font-size text-shadow, color 1s;

}

/* Title and name*/

.top {
	height: 100vh;
	
}

#dwj {
	font-size: 4vh;
	font-family: 'Orbitron', serif;
	color: #FFFFFF;
	text-align: center;
	margin-top: -58vh;
	text-shadow: 0 0.5vh rgba(255, 255, 255, 0.2);
	
}

#nd {
	font-size: 8vh;
	font-family: 'Orbitron', serif;
	color: #FFFFFF;	
	margin-top: -20vh;
	text-shadow: 0 0.5vh rgba(255, 255, 255, 0.2);
}




h2 {

	font-size: 5vh;
	font-family: 'Orbitron', serif;
	color: #F9A997;
	text-align: center;
	text-shadow: 0 0.5vh rgba(255, 255, 255, 0.2);

}

/* Competence section */

/* Background competence */

#comp {
	height: 90vh;
	background: linear-gradient(#B98595, #1B1464);
}

/* h3 title section*/
.ti {
	width: 100%;
	display: flex;

}

#fronti {
	width: 50%;
	text-align: center;
	font-size: 4vh;
	border: 2px solid blue;
	color: #FFFFFF;
}

#backti {
	width: 50%;
	text-align: center;
	font-size: 4vh;
	border: 2px solid yellow;
	color: #38E138;

}

/* icone competences section */
.si{
	width: 100%;
	display: flex;
	text-align: center;
	
}

.front  {
	width: 50%;
	border: 2px solid green;
	
}

.back {
	width: 50%;
	border: 2px solid blue;
}


.ico {
	margin-left: 3vh;
	font-size: 15vh;
	color: #F9A997;	
}

#html:hover{
	color: #E74A05;
}
#css:hover{
	color: #1286CB;
}
#js:hover{
	color: #FFC800;
}
#php:hover{
	color: #6807FF;
}
#sf:hover{
	color: #1A1A1A;
}

#cms {
	width: 50%;
	text-align: center;
	font-size: 4vh;
	border: 2px solid purple;
	color: #FFFFFF;

}

.wpti{
	width: 50%;
}

#wp:hover{
	
	color: #2FAABF;
}
